@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Badeen+Display&family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metamorphous&family=Momo+Signature&family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&family=Rubik+Vinyl&family=Sixtyfour:SCAN@-14&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


.wrapper {
    width: 63vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #022B3A;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-bottom: 30vh;

    margin-left: auto;
    margin-right: auto;
    
}

#kwadrat_1, #kwadrat_2, #kwadrat_3, #kwadrat_4, #kwadrat_5, #kwadrat_6, #kwadrat_7, #kwadrat_8, #kwadrat_9, #kwadrat_10, #kwadrat_11, #kwadrat_12, #kwadrat_13, #kwadrat_14, #kwadrat_15, #kwadrat_16 {
    width: calc(63vw / 4);
    height: calc(83vh / 4);
    background-color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kwadrat_1 {
    background-color: #C3D6FF;
    font-family: "Overpass", sans-serif;
}

#kwadrat_2 {
    background-color: #C0CAFE;
    font-family: "Roboto", sans-serif;
}

#kwadrat_3 {
    background-color: #B5BCFE;
    font-family: "Amatic SC", sans-serif;
    font-weight: 800;
    font-style: italic;
}

#kwadrat_4 {
    background-color: #B5B9FE;
    font-family: "Momo Signature", cursive;
    font-weight: 400;
}

#kwadrat_5 {
    background-color: #FECEFE;
    font-family: "Momo Trust Display", sans-serif;
}

#kwadrat_6 {
    background-color: #FFC1FF;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#kwadrat_7 {
    background-color: #FEB5FE;
    font-family: "Badeen Display", system-ui;
    font-weight: 400;
}

#kwadrat_8 {
    background-color: #D4B4FE;
    font-family: "Oswald", sans-serif;
}

#kwadrat_9 {
    background-color: #FFCFCA;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#kwadrat_10 {
    background-color: #FFC2C7;
    font-family: "Rubik Vinyl", system-ui;
    font-weight: 400;
    font-style: normal;
}

#kwadrat_11 {
    background-color: #FEB7DC;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#kwadrat_12 {
    background-color: #E6B0E4;
    font-family: "Dancing Script", cursive;
}

#kwadrat_13 {
    background-color: #FEF8B9;
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

#kwadrat_14 {
    background-color: #FFD3B3;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

#kwadrat_15 {
    background-color: #FEC2B4;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
}

#kwadrat_16 {
    background-color: #FFB5B8;
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
}